{% load static %}
{% load pygmentify_tags %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        
        <link rel="stylesheet" href="{% pygmentify_css %}">
        <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML" async>
        </script>
    </head>
   <body>
    <div class="page-header">
        {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    <div class="content container">
            <div>
                <div>
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
 
