{% load static %}
{% load pygmentify_tags %}
<html>
    <head>
    
        <title>MarioGGil blog</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
        <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.css" type="text/css" />
        <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.js"></script>
        <script type="text/javascript">
            Bokeh.set_log_level("info");
        </script>
        <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        
        <link rel="stylesheet" href="{% pygmentify_css %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
        <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
        <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML" async>
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    
    </head>
<body>
    <div class="page-header">

    <div class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark color2">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link color1O" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item color1O">
                    <a class="nav-link color1O" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link color1O" href="/about">Sobre mi</a>
                </li>

                </ul>
            </div>
        </nav>
    </div>
    </div>
    
    <div class="p-4"></div>
    
    <div class="p-4 content container">
        <div>
            <div>
            
               {% block content %}
                {% endblock %}


            </div>
        </div>
    </div>
</body>
     
</html>

