{% extends 'blog/base.html' %}
{% load random_numbers %}
{% load reste %}

{% block content %}


<h1>Marioggil</h1>
<div class="card-deck mx-auto">
{% random_int 5 as flag %}
  {% for post in posts %}    
<div class="card text-white color2 mb-3">
    <div class="card-header"><a class="color1P" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></div>
    <div class="card-body card-ocult" >
        <h5 class="card-title">{{ post.display_my_safefield|linebreaksbr }}</h5>
    </div>
    <div class="card-footer">
        <p class="color3P">published: {{ post.published_date}} </p>
    </div>
</div>
{%  reste flag as flag %}
{% if flag < 1 %}
</div>
<div class="card-deck mx-auto">
{% random_int 5 as flag %}
{% endif %}
 {% endfor %}
 </div>
 


{% endblock %}

